.usertext h1 {
  font-size: 28px;
  margin-top: 1em;
}

.usertext h2 {
  font-size: 22px;
  margin-top: 1.5em;
}

.usertext h2 ~ h3 {
  margin-top: 0.5em;
}

.usertext h3 {
  font-size: 20px;
}

.usertext h4 {
  color: #000;
  font-size: 18px;
  margin-top: 1em;
}
